html, body {
    margin: 0;
    height: 100%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background: #1d1d1d;
    display: block;
    min-width: 320px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-menu {
    width: 13rem;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    lefT: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.section-home {
    height: 80vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-full {
    min-height: 80vh;
    padding: 6rem 3rem;
    position: relative;
    opacity: 1;
    justify-content: center;
}

.section-home .text-zone {
    position: relative;
    z-index: 1;
}

.text-zone h1 {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    margin-top: 3rem;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

   