@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

:root {
    --light-color: #F5F2E7;
    --dark-color: #2C3333;
    --primary: #2666CF;
    --secondary: #395B64;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background: var(--dark-color);
    display: block;
    min-width: 320px;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-user-select:none;
    -moz-user-select:-moz-none;
        -ms-user-select:none;
        user-select:none;
}

.section-home::after {
    position: fixed;
    display: block;
    content: "Scroll Down";
    font-size: 1rem;
    right: 0;
    bottom: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
}


.main-menu {
    width: 8rem;
    height: 100vh;
    position: fixed;
    lefT: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-menu .sidenav {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.main-menu .sidenav-nav {
    list-style: none;
    padding: 0;
    width: 100%;
}

.main-menu .sidenav-list {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1rem 0;
}

.main-menu .sidenav-list .sidenav-link {
    display: block;
    width: 100%;
    color: #ffffff33;
    text-decoration: none;
}

.main-menu .sidenav-list .sidenav-link:hover, .sidenav-list .sidenav-link.active {
    color: var(--light-color);
    margin-left: 2rem;
    opacity: 0.6;
    transition: 0.3s;
}

.main-menu .sidenav-list .sidenav-link.active {
    border-right: 3px solid var(--light-color);
}

/* HOME */

.section-home {
    height: 80vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-full {
    min-height: 80vh;
    padding: 6rem 3rem;
    position: relative;
    opacity: 1;
    justify-content: center;
}

.section-home .text-zone {
    position: relative;
    z-index: 1;
}

.text-zone h1 {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}


/* Button Home */

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    margin-top: 3rem;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--light-color);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--primary);
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--primary);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: var(--light-color);
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

   